macro_equal: macro_equal{
compatible = "zmk,behavior-macro";
label = "macro_equal";
#binding-cells = <0>;
bindings = <&kp EQUAL>, <&kp EQUAL>;
};
macro_or: macro_or{
compatible = "zmk,behavior-macro";
label = "macro_or";
#binding-cells = <0>;
bindings = <&kp PIPE>, <&kp PIPE>;
};
macro_and: macro_and{
compatible = "zmk,behavior-macro";
label = "macro_and";
#binding-cells = <0>;
bindings = <&kp AMPERSAND>, <&kp AMPERSAND>;
};
macro_pluseq: macro_pluseq{
compatible = "zmk,behavior-macro";
label = "macro_pluseq";
#binding-cells = <0>;
bindings = <&kp PLUS>, <&kp EQUAL>;
};
macro_careteq: macro_careteq{
compatible = "zmk,behavior-macro";
label = "macro_careteq";
#binding-cells = <0>;
bindings = <&kp CARET>, <&kp EQUAL>;
};
macro_ngeq: macro_ngeq{
compatible = "zmk,behavior-macro";
label = "macro_ngeq";
#binding-cells = <0>;
bindings = <&kp EQUAL>, <&kp GREATER_THAN>;
};
macro_shright: macro_shright{
compatible = "zmk,behavior-macro";
label = "macro_shright";
#binding-cells = <0>;
bindings = <&kp GREATER_THAN>, <&kp GREATER_THAN>;
};
macro_shleft: macro_shleft{
compatible = "zmk,behavior-macro";
label = "macro_shleft";
#binding-cells = <0>;
bindings = <&kp LESS_THAN>, <&kp LESS_THAN>;
};
macro_nleq: macro_nleq{
compatible = "zmk,behavior-macro";
label = "macro_nleq";
#binding-cells = <0>;
bindings = <&kp EQUAL>, <&kp LESS_THAN>;
};
macro_geq: macro_geq{
compatible = "zmk,behavior-macro";
label = "macro_geq";
#binding-cells = <0>;
bindings = <&kp GREATER_THAN>, <&kp EQUAL>;
};
macro_leq: macro_leq{
compatible = "zmk,behavior-macro";
label = "macro_leq";
#binding-cells = <0>;
bindings = <&kp LESS_THAN>, <&kp EQUAL>;
};
macro_neq: macro_neq{
compatible = "zmk,behavior-macro";
label = "macro_neq";
#binding-cells = <0>;
bindings = <&kp EXCLAMATION>, <&kp EQUAL>;
};