macro_geq: macro_geq{
compatible = "zmk,behavior-macro";
label = "macro_geq";
#binding-cells = <0>;
bindings = <&kp GREATER_THAN>, <&kp EQUAL>;
};
macro_leq: macro_leq{
compatible = "zmk,behavior-macro";
label = "macro_leq";
#binding-cells = <0>;
bindings = <&kp LESS_THAN>, <&kp EQUAL>;
};
macro_neq: macro_neq{
compatible = "zmk,behavior-macro";
label = "macro_neq";
#binding-cells = <0>;
bindings = <&kp EXCLAMATION>, <&kp EQUAL>;
};